asgiref==3.7.2
contourpy==1.2.0
crispy-bootstrap5==2024.2
cycler==0.12.1
Django==5.0.2
django-crispy-forms==2.1
django-livereload-server==0.5.1
fonttools==4.49.0
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.26.4
opencv-python==4.9.0.80
packaging==23.2
Pillow==9.1.0
psycopg2-binary==2.9.9
pyparsing==3.1.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.1
six==1.16.0
sqlparse==0.4.4
tornado==6.4
typing_extensions==4.7.1
tzdata==2023.3
XlsxWriter==3.2.0
