<!-- prettier-ignore -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="theme-color" content="#daeaf6" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="PDF Extraction" />
        <!-- Madimi One Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet" />
        <!-- Montserrat Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet" />
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <title>PDF Extraction</title>
    </head>
    <body class="vh-100">
        <div class="loader-container" id="loader">
            <div class="terminal-loader">
                <div class="terminal-header">
                    <div class="terminal-title">Status</div>
                    <div class="terminal-controls">
                        <div class="control close"></div>
                        <div class="control minimize"></div>
                        <div class="control maximize"></div>
                    </div>
                </div>
                <div class="text">Processing...</div>
            </div>
        </div>
        <main class="py-6 py-md-7 text-white">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <section class="file-container" id="file_container">
                    <div class="file-name" id="file_name">
                        <div class="file-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
                                <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2z" />
                            </svg>
                        </div>
                        <span class="file" id="file"></span>
                        <button type="button" class="remove-button" onclick="remove()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </button>
                    </div>
                </section>
                <label class="file-upload" for="id_input_file">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    fill=""
                                    d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                    clip-rule="evenodd"
                                    fill-rule="evenodd"
                                ></path>
                            </g>
                        </svg>
                    </div>
                    <div class="text">
                        <span>Click to upload image</span>
                    </div>
                    {{ form.input_file }}
                </label>
                <button class="submit-button" type="submit" onclick="loader()">Text Conversion</button>
                <!-- Output -->
                {% if result == 'failed' %}
                <p class="re-upload">Something went wrong, Please re-upload the file.</p>
                {% elif result %}
                <div class="result" id="result">
                    <!-- Copy Text -->
                    <div>
                        <button type="button" class="copy-text" onclick="copy_text()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="pointer-events-none">
                                <rect width="24" height="24"></rect>
                                <rect x="4" y="8" width="12" height="12" rx="1" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></rect>
                                <path d="M8 6V5C8 4.44772 8.44772 4 9 4H19C19.5523 4 20 4.44772 20 5V15C20 15.5523 19.5523 16 19 16H18" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2 2"></path>
                            </svg>
                        </button>
                    </div>
                    <p id="result_text">{{result}}</p>
                </div>
                {% endif %}
            </form>
        </main>
    </body>

    <script>
        function loader() {
            var filename = document.getElementById("file").innerHTML;

            if (filename != "") {
                // console.log(filename);
                document.getElementById("loader").style.display = "block";
            }
        }

        // Onchange event to trigger
        function getFileData(myFile) {
            var file = myFile.files[0];
            var filename = file.name;
            // console.log(file.name);

            document.getElementById("file_container").style.display = "flex";
            document.getElementById("file").innerHTML = filename;

            document.getElementById("result").style.display = "none";
            // console.log(document.getElementById("id_input_file").value.split("\\").pop());
        }

        function remove() {
            document.getElementById("id_input_file").value = null;
            document.getElementById("file").innerHTML = "";
            document.getElementById("file_container").style.display = "none";
        }

        function copy_text() {
            navigator.clipboard.writeText(document.getElementById("result_text").innerHTML);

            // console.log(document.getElementById("result_text").innerHTML);
        }
    </script>
</html>
